[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ruzie/Desktop/dotfiles]
row=1
col=0

[/home/ruzie/Desktop/License.txt]
row=0
col=1

[/home/ruzie/Desktop/nvm]
row=4
col=0

[/home/ruzie/Desktop/7z2200-linux-x64.tar.xz]
row=3
col=0

[/home/ruzie/Desktop/ani-cli]
row=2
col=0

[Trash]
row=0
col=0

