[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ruzie/Desktop/dotfiles]
row=5
col=0

[/home/ruzie/Desktop/Tela-icon-theme]
row=2
col=0

[/home/ruzie/Desktop/linux.png]
row=3
col=0

[/home/ruzie/Desktop/voidconf.sh]
row=1
col=0

[/home/ruzie/Desktop/zshconf.sh]
row=4
col=0

[Trash]
row=0
col=0

